{% extends 'base.html' %}

{% block title %}Signup{% endblock title %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/registration.css' %}">
</head>

<div id="registration-form" class="signup-form">
    <h1>Signup</h1>
    <br>
    <form action="{% url 'core:signup' %}" method="post" id="form">
        {% csrf_token %}
        <label for="username">
            <h3>username</h3>
            {{form.username}}
        </label>
        <label for="email">
            <h3>e-mail</h3>
            {{form.email}}
        </label>
        <label for="password1">
            <h3>password</h3>
            {{form.password1}}
        </label>
        <label for="password2">
            <h3>confirm password</h3>
            {{form.password2}}
        </label>
        <br><br>
        <button type="submit" class="teal-btn">submit</button>
        <br>
        {% if form.errors or form.non_field_errors %}
            <div>
                {% for field in form.errors %}
                    {{field.errors}}
                {% endfor %}

                {{form.non_field_errors}}

            </div>
        {% endif %}
    </form>
</div>
{% endblock content %}